### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
 
### IntelliJ
*.iml
*.iws
.idea/
# IntelliJ erstellt dieses Verzeichnis in WAR-Modulen mit WAR-Dependencies
overlays/
 
 ### Eclipse
.metadata
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/
 
### Netbeans
nbproject/
 
### JVM Fatal Error logs
hs_err_pid*.log

